<style>

.images img[type="radio"]:checked + img, 
.images img[type="checkbox"]:checked + img{
  padding: 5px 15px;
  background: #0774D9;
  border-radius: 2px;
  color: #fff;
}
.images{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

img{
    width: 15%;
    height: 0%;
    cursor: pointer;
}

.thumbnail {
    position: absolute;
    top: 15px;
    bottom: 0;
    left: 15px;
    right: 0;
    text-align:center;
}
.pokemon_details{
    display: flex;
    background: white;
    padding: 0%;
    width: 31.333%;
}
.img_content{
    margin: 8% auto;
    display: flex;
    justify-content: center;
    background: #e1e1e1;
    padding: 15% 0% 15% 0%;
    width: 65%;
    border-radius: 20px;

}
.pokemon_name{
    background: #ffff0080;
    padding: 5% 80% 5% 5%;
}
.content{
    display: flex;
    flex-direction: column;
    background: #4e4e4e;
    border-radius: 20px;
    padding: 2% 2% 15% 2%;
}
.pokemon_content{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-content: center;
    border-radius: 20px;
    background: #e1e1e1;
    padding: 3% 4% 4% 4%;
}

.fila{
    display: flex;
    justify-content: space-around;
}
/*.navbar {
  background-color: #e74c3c;
}
.navbar .navbar-brand {
  color: #ecf0f1;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #ffbbbc;
}*/


</style>
<nav class="navbar navbar-default">  
  <div class="container-fluid">     
    <div class="navbar-header">
    <a class="navbar-brand" href="#">PokemonValley</a>
    </div>
    <ul class="nav navbar-nav">
    <li><a ng-click="battle()" href>Bienvenido</a></li>
    <li class="active"><a  href>Battle Pokemon</a></li>    
    </ul>
    <ul class="nav navbar-nav navbar-right">    
    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Cerrar Sesión</a></li>
    </ul>
  </div>
</nav>


<div class="container">
  <h2>Create Trainer</h2>
  <form class="form-horizontal" >
    <div class="form-group">
      <label class="control-label col-sm-2" for="email">Nombre:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="email" placeholder="Enter name" ng-model="name" name="email">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">Género:</label>
      <div class="col-sm-10 images">          
        <input type="radio" name="gender" value="static/images/boy.jpg" ng-model="image"> <img src="static/images/boy.jpg"><br>
         <input type="radio" name="gender" value="static/images/girl.jpg" ng-model="image"> <img src="static/images/girl.jpg"><br>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="pwd"></label>
      <div class="col-sm-10">          
        <input type="hidden" class="form-control" id="pwd" placeholder="Enter password" ng-model="level" name="pwd">
      </div>
    </div>    
    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10" style="display: flex;justify-content: center;">
        <button class="btn btn-default" id="submit" ng-click="createTrainer(name, image, level)">Submit</button>
      </div>
    </div>
  </form>
</div>

