<style>
    
.thumbnail {
    position: absolute;
    top: 15px;
    bottom: 0;
    left: 15px;
    right: 0;
    text-align:center;
}
.pokemon_details{
    display: flex;
    background: white;
    padding: 0%;
    width: 31.333%;
}
.img_content{
    margin: 8% auto;
    display: flex;
    justify-content: center;
    background: #e1e1e1;
    padding: 15% 0% 15% 0%;
    width: 65%;
    border-radius: 20px;

}
.pokemon_name{
    background: #ffff0080;
    padding: 5% 80% 5% 5%;
}
.content{
    display: flex;
    flex-direction: column;
    background: #4e4e4e;
    border-radius: 20px;
    padding: 2% 2% 15% 2%;
}
.pokemon_content{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-content: center;
    border-radius: 20px;
    background: #e1e1e1;
    padding: 3% 4% 4% 4%;
}

.fila{
    display: flex;
    justify-content: space-around;
}
/*.navbar {
  background-color: #e74c3c;
}
.navbar .navbar-brand {
  color: #ecf0f1;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #ffbbbc;
}*/


</style>
<nav class="navbar navbar-default">  
  <div class="container-fluid">     
    <div class="navbar-header">
    <a class="navbar-brand" href="#">PokemonValley</a>
    </div>
    <ul class="nav navbar-nav">
    <li  href><a ng-click="battle()" href>Bienvenido</a></li>
    <li><a href ng-click="trainers()">Battle Pokemon</a></li>    
    </ul>
    <ul class="nav navbar-nav navbar-right">    
    <li><a href ng-click="logout()"><span class="glyphicon glyphicon-log-in"></span> Cerrar Sesión</a></li>
    </ul>
  </div>
</nav>


<div class="container">
    <div class="row">       
        <div class="col-md-3 content">
            <div class="img_content" >
                <img src="{{datos.imgURL}}" style="width: 65%;height: 0%;">
            </div>
            <input type="text" class="form-control"  placeholder="Nombre: {{datos.nombre}}" ng-model="nombre" disabled>
            <input type="text" class="form-control" placeholder="Nickname: {{datos.fk_user.username}}" ng-model="nickname" disabled>
                
        </div>
        <br>
        <div class="col-md-1" style="width: 3.3%;"></div>
        <div class="col-md-8 pokemon_content" >
            <div class="row fila" style="padding-bottom: 20px;" >
                <div class="col-md-4 pokemon_details" ng-repeat="pokemon in pk1">
                    <div class="">
                        <div class="pokemon_name">
                            <strong >{{pokemon.name}}</strong>
                        </div>
                        <div class="img_content">
                            <img src="{{pokemon.front_shiny}}" >
                        </div>
                        <span>&nbsp;&nbsp;&nbsp;&nbsp;hit points {{pokemon.attack}}</span>
                    </div>
                </div>                     
            </div>
            <div class="row fila" style="padding-bottom: 20px;">
                <div class="col-md-4 pokemon_details"  ng-repeat="pokemon in pk2">
                    <div class="" >
                        <div class="pokemon_name">
                            <strong >{{pokemon.name}}</strong>
                        </div>
                        <div class="img_content">
                            <img src="{{pokemon.front_shiny}}">
                        </div>
                        <span>&nbsp;&nbsp;&nbsp;&nbsp;hit points {{pokemon.attack}}</span>
                    </div>
                </div>                 
            </div>
        </div>
    </div>
</div>
