<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <h1 class="text-center login-title">Registrate para continuar a la App</h1>
            <div class="account-wall">
                <img class="profile-img" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
                    alt="">
                <form class="form-signin">                
                    <input type="text" class="form-control" placeholder="Nickname" ng-model="nickname" required>
                    <input type="email" class="form-control" placeholder="Email" ng-model="email" required>                                     
                <input type="password" class="form-control" placeholder="Password" ng-model="password" required>
                <button class="btn btn-lg btn-primary btn-block" ng-click="register(email, nickname, password)">
                    Registrarse</button>

                <a href="#" class="pull-right need-help">Need help? </a><span class="clearfix"></span>
                </form>
            </div>
            <a href ng-click="login()" class="text-center new-account">Sign In Here </a>
        </div>
    </div>
</div>