<style>
    
.thumbnail {
    position: absolute;
    top: 15px;
    bottom: 0;
    left: 15px;
    right: 0;
    text-align:center;
}
.pokemon_details{
    display: flex;
    background: white;
    padding: 0%;
    width: 31.333%;
}
.img_content{
    margin: 8% auto;
    display: flex;
    justify-content: center;
    background: #e1e1e1;
    padding: 15% 0% 15% 0%;
    width: 65%;
    border-radius: 20px;

}
.pokemon_name{
    background: #ffff0080;
    padding: 5% 80% 5% 5%;
}
.content{
    display: flex;
    flex-direction: column;
    background: #4e4e4e;
    border-radius: 20px;
    padding: 2% 2% 15% 2%;
}
.pokemon_content{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-content: center;
    border-radius: 20px;
    background: #e1e1e1;
    padding: 3% 4% 4% 4%;
}

.fila{
    display: flex;
    justify-content: space-around;
}
/*.navbar {
  background-color: #e74c3c;
}
.navbar .navbar-brand {
  color: #ecf0f1;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #ffbbbc;
}*/


</style>
<nav class="navbar navbar-default">  
  <div class="container-fluid">     
    <div class="navbar-header">
    <a class="navbar-brand" href="#">PokemonValley</a>
    </div>
    <ul class="nav navbar-nav">
    <li><a ng-click="battle()" href>Bienvenido</a></li>
    <li class="active"><a  href>Battle Pokemon</a></li>    
    </ul>
    <ul class="nav navbar-nav navbar-right">    
    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Cerrar Sesión</a></li>
    </ul>
  </div>
</nav>


<div class="container">
    <div class="row">       
         <table class="table table-hover">
    <thead>
      <tr>
        <th>Entrenador</th>
        <th>Nivel</th>
        <th>Pokemon</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="trainer in trainers">
        <td>{{trainer.fk_user.username}}</td>
        <td>{{trainer.nivel}}</td>
        <td>Pokemon</td>
        <td><button class="btn btn-danger" ng-click="startBattle(trainer.fk_user.id)">Iniciar Batalla</button> &nbsp;&nbsp;&nbsp;<button class="btn btn-primary" ng-click="perfilTrainer(trainer.fk_user.id)">Ver perfil</button></td>
      </tr>
      
    </tbody>
  </table>
    </div>
</div>
