{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<title>Pokemon</title>
    <link href="{% static "css/bootstrap.min.css" %}" type="text/css" rel="stylesheet" />
    <link href="{% static "css/bootstrap-theme.min.css" %}" type="text/css" rel="stylesheet" />
    <link href="{% static "css/login.css" %}" type="text/css" rel="stylesheet" />

</head>
<body ng-app="appPokemon">
    {% verbatim %}
    <ui-view></ui-view>
    {% endverbatim %}
</body>


<script src="{% static "js/angular.min.js" %}"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.3/angular-ui-router.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular-cookies.min.js"></script>
<script src="{% static "js/pokeApp.js" %}"></script>
<script src="{% static "js/pokeApp.config.js" %}"></script>
</html>
